html,
body {
    height: 100% !important;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Open Sans', sans-serif;
    color: #383A44;
    overflow-x: hidden;
}

#blur-backgroud {
	z-index: -1;
	position: fixed;
	display: block;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('../img/test5.jpg');
	/*background: url('../img/blurBG1.jpg');*/
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(5px) brightness(0.8);
	-moz-filter: blur(5px) brightness(0.8);
	-o-filter: blur(5px) brightness(0.8);
	-ms-filter: blur(5px) brightness(0.8);
	filter: blur(5px) brightness(0.8);
}


/* ASIDES ET MAIN */
body > aside, body > main {
	transition: transform 0.4s ease;
}
body.lefty > aside, body.lefty > main {
	transform: translateX(400px);
}
body.righty > aside, body.righty > main {
	transform: translateX(-400px);
}
body.lefty > main, body.righty > main {
	cursor: pointer;
}
aside#left-menu {
	width: 400px;
	height: 100%;
	background-color: rgba(0,0,0,0.66);
	position: absolute;
	left: 0;
	top: 0;
	margin-left: -400px;
	z-index: 999;
}
aside#right-menu {
	width: 400px;
	height: 100%;
	background-color: rgba(255,255,255,0.66);
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: -400px;
}
main {
	display: inline-block;
	width: 100%;
	min-height: 100%;
}
main .row {
	padding: 0;
	margin: 0;
}
/* Affichage automatique des asides pour les grands écrans */
@media only screen and (min-width: 1800px) {
	body > aside, body > main {
		transform: translateX(0) !important;
	}
	aside {
		margin: 0 !important;
	}
	header i {
		display: none !important;
	}
}

/*Upload */
#upload-file-container input {
   filter: alpha(opacity=0);
   opacity: 0;
}
input#FighterChooseAvatarAvatarFile {
	margin-top: -50px;
}
div.input.file {
	margin-top: -80px;
}

.uploadFlile {
	background-color: transparent;
	text-align: center;
	font-size: 10px;
	margin-top: 50px;
	margin-left: 30px;
	font-size: 24;
}
.uploadFlile:hover{
	  cursor: pointer;
}
.btn-upload{
	margin-left: -20px;
/* 	background-color: transparent; */
}


/* MENUS */
aside {
	overflow: hidden;
}
/* LEFT */
aside#left-menu h2 {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #888;
	padding: 0px 0 15px 0;
}
nav ul {
	padding: 0;
}
nav ul li {
	width: 100%;
	padding: 15px 0 15px 50px;
}
nav ul li a {
	color: white;
	font-size: 25px;
}
nav ul li a:hover {
	color: #ff5766;
}
nav ul li a i {
	width: 35px;
	display: inline-block;
	text-align: center;
	margin-right: 15px;
}

/* RIGHT */
/* CHAT FORM */
form#send-chat-message {
	border-top: 1px solid #aaa;
	position: absolute;
	bottom: 0;
	width: 100%;
}
form#send-chat-message input {
	width: 100%;
	margin-bottom: 0;
}
input.error {
	color: red !important;
}
#checkmarkAll, #checkmarkGuild {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 20px;
	cursor: pointer;
}
#checkmarkprivate {
	margin-top: 10px;
	margin-left: -20px;
	right: 10px;
	bottom: 5px;
	font-size: 20px;
	cursor: pointer;
}
/* CHAT MESSAGES */
#chat-messages-all, #chat-messages-guild {
	height: calc(100% - 114px);
	overflow-y: scroll;
}
.chat-row {
	margin: 0px 15px 30px 15px;
	display: table;
	width: calc(100% - 15px);
}
.chat-row:first-child {
	margin-top: 10px
}
.chat-row > div[class^="col"] {
	display: table-cell;
	float: none;
	vertical-align: bottom;
	padding: 0;
}
.chat-message {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	max-width: 260px;
	overflow: hidden;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}
.chat-message-me {
	background-color: rgba(150, 255, 120, 0.5);
}
.chat-message-other {
	background-color: rgba(255, 255, 255, 0.5);
}
.sender {
	transform: translateY(35px);
	margin-top: -30px;
	text-align: center;
	max-width: 80px;
	white-space: nowrap
}
.sender-avatar {
	width: 70%;
	height: auto;
	border-radius: 50%;
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto;
}
.sender-name {
	margin: 0;
	font-weight: bold;
}
.sender-name.rtl {
	direction: rtl;
}
/* RIGHT CHAT TABS */
#chat-tabs {
	margin-top: 15px;
	text-align: center;
	padding-bottom: 15px;
	border-bottom: 1px solid #aaa;
}
.chat-tab {
	border-radius: 5px;
	border: 1px solid #ff5766;
	color: #ff5766;
	background: transparent;
	padding: 5px 20px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all .4s ease;
	display: inline-block;
	margin: 0 auto;
}
.chat-tab:not(.disabled):hover, .chat-tab.active {
	background-color: #ff5766;
	color: white;
	text-decoration: none;
}
.chat-tab.disabled {
	-webkit-filter: blur(1px);
	cursor: default;
}
.chat-tab.disabled:hover {
	text-decoration: none;
	color: #ff5766;
}
#chat-tabs i {
	margin-top: -7px
}





/* HEADER */
header {
	width: 100%;
	text-align: center;
}
#logo img {
	max-width: 150px;
	height: auto;
	display: block;
	margin: 25px auto;
}
header i {
	margin-top: 35px;
	cursor: pointer;
	transition: all 0.2s ease;
}
i.go-left:hover {
	color: white;
	transform: translateX(5%);
}
i.go-right:hover {
	color: white;
	transform: translateX(-5%);
}
i.active {
	opacity: 0;
}
i.close-left {
	border: 2px solid;
	border-radius: 100%;
	padding: 3px;
	width: 42px;
	height: 42px;
	opacity: 0;
	transform: translateX(130px);
	transition: all 0.5s ease;
	position: relative;
	top: -11px;
	z-index: 999;
}
i.close-left.close-visible {
	opacity: 1;
	transform: translateX(-80px);
}
i.close-right {
	border: 2px solid;
	border-radius: 100%;
	padding: 3px;
	width: 42px;
	height: 42px;
	opacity: 0;
	transform: translateX(-130px);
	transition: all 0.5s ease;
	position: relative;
	top: -11px;
	z-index: 999;
}
i.close-right.close-visible {
	opacity: 1;
	transform: translateX(80px);
}
i.close-visible:hover {
	transition: all 0.2s ease;
	border-color: white;
	color: white;
}

/* JOURNAL */

.photo-journal {
	width: 78px;
	height: 78px;
}
.name_journal1 {
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.name_journal2 {
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.level_journal1 {
	text-align: left;
	color: #9B9B9B;
	margin-top: -7px;
}
.level_journal2 {
	text-align: right;
	color: #9B9B9B;
	margin-top: -7px;
}

.vs_journal {
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}
.date_journal {
	text-align: center;
	font-size: 15px;
	color: #9B9B9B;
}
.win_journal1 {
	color: #F8E71C;
	text-align: left;
}
.win_journal2 {
	color: #F8E71C;
	text-align: right;
}

/* JOUEURS EN LIGNE */
.button_jLigne {
	border-radius: 5px;
	border: 1px solid #ff5766;
	color: #ff5766;
	background: transparent;
	padding: 5px 20px;
	font-weight: bold;
	transition: all .4s ease;
	display: inline-block;
	margin: 5px;
	
}
.button_jLigne:not(.messageb):hover, .button_jLigne.attaqueb {
	background-color: #ff5766;
	color: white;
	text-decoration: none;
}
.button_jLigne.message:hover {
	text-decoration: none;
	color: #ff5766;
}

.guilde-icon {
	width: 50px;
	height: 50px;
	border-radius: 7px;
}

.contant-jOnLine {
	margin-right: 40px;
}

.guilde-jOnLine {
	margin-top: 20px;
	font-weight: 400;
	font-size: 20px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

.guildeName-jOnLine {
	margin-top: 5px;
}

/* GUILDE */
.noGuilde-head {
	font-weight: 400;
	font-size: 25px;
	margin-bottom: 30px;
}

.button_guildeFC {
	border-radius: 5px;
	border: 1px solid #ff5766;
	color: #ff5766;
	background: transparent;
	padding: 5px 20px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all .4s ease;
	margin: 0 auto;
}

.button_guildeFC:not(.unSelect):hover, .button_guildeFC.select {
	background-color: #ff5766;
	color: white;
	text-decoration: none;
}
.button_guildeFC.unSelect:hover {
	text-decoration: none;
	color: #ff5766;
}

#creatGuild {
	margin-top: 50px;
	margin-bottom: 50px;
	animation: all .4 ease;
}

#findGuild {
	margin-top: 50px;
	display: none;
	animation: all .4 ease;
}

.btnsubmitGuilde {
	border-radius: 5px;
	border: 1px solid #ff5766;
	color: white;
	background: #ff5766;
	padding: 5px 20px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all .4s ease;
	margin: 0 auto;
	position: relative;
	right: -43%;
}
.btnsubmitGuilde:hover {
	text-decoration: none;
	background: white;
	color: #ff5766;
}


/* TITRE */
h1 {
	text-align: center;
	width: 100%;
	margin-top: 2%;
	font-size: 45px;
	color: white;
	font-weight: 300;
}
h1.top {
	margin: 40px 0 0 0;
}
.pink {
	color: #ff5766;
}

/* CONTENT */
#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 25px;
	overflow: auto;
	margin: 40px auto 0 auto;
	border-radius: 5px;
	max-width: 700px;
	border: 1px solid rgba(0,0,0, 0.15);
	-moz-box-shadow: 0px 0px 5px 0px #656565;
	-webkit-box-shadow: 0px 0px 5px 0px #656565;
	-o-box-shadow: 0px 0px 5px 0px #656565;
	box-shadow: 0px 0px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

/* FOOTER */
footer {
	margin-top: 12px;
	width: 100%;
	font-size: 10pt;
	color: black;
	text-align: center;
}

/* BUTTONS */
.btn-secondary {
	color: #373a3c;
	background-color: #fff;
	border-color: #ccc
}
.btn-secondary:hover {
	color: #373a3c;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.btn-fb {
	background-color: #3b5999;
	color: white;
}
.btn-fb:hover {
	color: white;
	background-color: #2b4979;
}
.btn-login-left {
	padding: 10px;
	width: 100%;
	position: relative;
}
.btn-login-right {
	width: 45%;
	padding: 10px;
	margin-left: 10%;
	position: relative;
}
.btn-login-right i, .btn-login-left i {
	position: absolute;
	left: 10px;
	top: 13px;
}
.social-divider {
	text-transform: uppercase;
}
.divider {
	border-bottom: 1px solid #ccc;
	margin-top: 11px;
	margin-bottom: 25px;
}
#social-buttons {
	margin-bottom: 27px;
}



/* HOME */
.name {
	text-align: center;
	height:20px;
	font-size: 12px;
}

.niveau {
	padding-left: 20%;
}

.guilde {
	width:75%;
	float: right;
	padding-left: 10%;
	padding-top: 5%;
}

.last {
	text-align: center;
	font-size: 25px;
	color: red;

}
.stat {
	text-align: center;
	line-height: 5px;
}

.bidule {
	border-right : 1px solid #979797;
}
.barre {
	border-radius: 10px;
	border: 1px solid #979797
}
#xp {
	background-color: #FF5766;
	height: 5px;
	border-radius: 10px;
}
.barredxp {
	width: 100%;
}
.espace {
	height: 10px;
}
.createperso {
	height: 85px !important;
	text-align: center;
}
.grise {
	background-color: gray;
}
.transparent {
	opacity: 0.4;
}
.centrerbtn {
	margin-left: 40%;
	width:20%;
}
.nameinguild {
	font-size: 20px;
	line-height: 20px; 
	padding-top: 12%;
}
.avatar-in-guild {
	margin-top: 5%;
	margin-bottom: 5%; 
}
.middles {
	margin-top: 30px;
	margin-right: 45px;
}

.mono {
	margin-left:50%;
}
.taillebtn {
	line-height: 20px;
}
.levelinguild {
	color:gray;
}
.nameing {
	margin-top: 15%;
	font-size:25px;
}
.gris {
	background-color: #E8E8E8;
	border-radius: 10px;
}
.ecart {
	margin-top: 5%;
	margin-bottom: 5%;
}
.btnquit {
	margin-top: 5%;
}
.guildeicon {
	width:70%; 
	border-radius:10px;
}
.red {
	color: red;
}
.green {
	color: green;
}
.retour {
	margin-top: -15px;
	font-size : 10px;
}
.case {
	margin:10%;
}
.taille {
	padding-left: 24px;
	padding-right: 23px;
}
.espace {
	height: 5px;
}
.nopaddingr {
	padding-right: 0px;
}
.nopaddingl {
	padding-left: 0px;
}
.blanc {
	background-color: #EEEEEE;
	border-radius: 10px;
}
.transparant {
	opacity: 0.7;
}
.btnselect {
	margin: auto;
	margin-top: 5%;
	text-align: center;
}
.centre {
	text-align: center;
}
.titre {
	font-style: bold;
	font-size: 20px;
}
.margint {
	margin-top: 40px;
}
.size-nom-guild {
	font-size: 20px;
}
.size-loop {
	height: 20px;
	font-size: 20px;
	margin-top: 10px;
}
.chevron-margin-top {
	margin-top: 35px;
}
.clickable-loop {
	cursor: pointer;
}
.select-for-message {
	cursor: pointer;
}
#chat-messages-private {
    border: solid;
    border-width: 1px;
    border-color: rgb(255,87,102);
    border-radius: 10px;
    height: 500px;
    overflow-y: scroll;
}
#retour-chevron {
	position: absolute;
	margin-left: -15px;
	margin-top: -15px;
	font-size: 20px;
	cursor: pointer;
}
.margindel {
	margin-top: 35px;
}

.character-content .row {
	position:relative;
	left: -16px
}
#content .margin-bot-chat {
	margin-bottom: 35px;
}
.taille-chat-box-right {
	margin-right: 25px;
	max-width: 500px;
	text-align: left;
}
.taille-chat-box-left {
	margin-left: 25px;
	max-width: 500px;
	text-align: left;
}
.margin-left-img-chat {
	margin-left: 30px;
}
#content .margin-top-retour-chat {
	margin-top: -20px;
}
::-webkit-scrollbar { 
    display: none; 
}
#content .margin-top-form-chat {
	margin-top: 10px;
}
.guildname {
	overflow: hidden;
}



.cover-neige {
	background: url("../img/covers/cover_neige.png")!important
}
.cover-herbe {
	background: url("../img/covers/cover_herbe.png") !important
}
.cover-lave {
	background: url("../img/covers/cover_lave.png") !important;
}
.cover-sable {
	background: url("../img/covers/cover_sable.png")!important
}
.cover-diamant {
	background: url("../img/covers/cover_diamant.png")!important
}
.cover-bois {
	background: url("../img/covers/cover_bois.png")!important
}
.cover-roche {
	background: url("../img/covers/cover_roche.png")!important
}
[class^="cover-"], [class*="cover"] {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover !important;
	padding: 0 !important;
}
@font-face {
    font-family: arcade;
    src: url(../fonts/arcade.ttf);
}
.arena-overlay {
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	color: white;
	font-family: 'arcade';
	font-size: 36px;
	width: 100%;
	margin-top: 20px;
}
a.content {
	display: block;
	transition: all 0.4s ease
}
a.content:hover {
	text-decoration: none;
	opacity: 0.85;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
